@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@300&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style-type:none;
}
nav{
    background-color: rgb(226, 126, 226);
    color: white;
    height:50px;
    display: flex;
    align-items: center;
    font-size: 27px;
    padding: 0 12px;
    font-family: 'Montserrat', sans-serif;

}
.gameContainer{
    
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}

.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-family: 'Montserrat', sans-serif;
}
.box{
    border: 1px solid black;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: pink;
    color: white;
    cursor: pointer;
}
.gameInfo{
    padding: 0 34px;
}


.imgInfo img{
    width: 0;
    transition: width 1s ease-in-out;
}
.bt-0{
    border-top: 0;
}
.bl-0{
    border-left: 0;
}
.br-0{
    border-right: 0;
}
.bb-0{
    border-bottom: 0;
}
#reset{
    margin: 0 23px;
    padding: 6px 14px;
    border: 0;
    background:rgb(235, 160, 235);
    border-radius:6px;
    cursor: pointer;
}

@media screen and (max-width :800px){
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5 rem;
    }
    .container{
        grid-template-rows: repeat(3,vw);
        grid-template-columns: repeat(3,20vw);
    }
}